extends _layout.pug
block body
  form(action="")
    input(type="text" name="m" id="m")
    button(id="btn-send",disabled) send
  ul#messages
  script(src="/socket.io/socket.io.js")
  script(src="https://code.jquery.com/jquery-1.11.1.js")
  script.
    jQuery(($) => {
      var socket = io();

      var roomId = window.location.pathname.slice(1).split('/')[1]
      var isJoined = false;

      socket.emit('join_to_room', roomId);
      $('form').on('submit', (e) => {
        if(!isJoined) {
          console.error('not joined room');
          return false;
        }
        e.preventDefault();
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      })
      socket.on('joined_to_room', (param) => {
        if(param.roomId === roomId) {
          $('#btn-send').prop('disabled', false);
          isJoined = true;
        }
      });
      socket.on('chat message', (msg) => {
        $('#messages').append($('<li>').text(msg));
      })
    });